UNIVERSAL
:root {
  /* COLORS */
  --primary: #e3e3e3;
  --secondary: #cecece;
  --accent: #3e3e3e;
  --indent: #00000010;
  --scroll-bar-track: #00000010;
  --scroll-bar-thumb: #00000030;
  --scroll-bar-thumb-hover: #0000009a;
  --active: #0099ff;

  --orange: #f4690c;
  --lorange: #f7c894;
  --green: #146d57;
  --lgreen: #97beac;
  --yellow: #f0a901;
  --lyellow: #f5c961;
  --purple: #7c82d6;
  --lpurple: #b5b5ff;

  /* ATTRIBUTES */
  --rounded: 1rem;
  --pill: 99999px;
  /* TIMERS */
  --swift: 100ms;
  --standard: 500ms;
  --slow: 1000ms;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url("/./assets/images/photos/techcollege_image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  color: --;
}

#wrapper {
  grid-column-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  flex-direction: row;
  gap: 1rem;
}

#left {
  background-color: #202044;
  width: 100%;
}

#right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#right > * {
  background-color: #0d0c3362;
  border-radius: 10px;
}

#bus {
  
  /* display: none; */
}

#weatherAndTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#weatherAndTime * {
  margin: 0;
  background-color: #00000000;
  padding: 0;
  font-weight: 300;
}

#date {
  font-size: 2rem;
}

#clock {
  margin-top: -1.7rem;
  font-weight: 500;
  font-size: 4rem;
}

.weatherIcon {
  fill: #bebebe;
  display: inline-block;
  width: 150px;
}

#description {
  margin-bottom: -0.5rem;
  font-weight: 600;
}

#news {
}

#schedule {
}

#food {
}
