/* UNIVERSAL */
:root {
    /* COLORS */
    --primary: #e3e3e3;
    --secondary: #cecece;
    --accent: #3e3e3e;
    --indent: #00000010;
    --scroll-bar-track: #00000010;
    --scroll-bar-thumb: #00000030;
    --scroll-bar-thumb-hover: #0000009a;
    --active: #0099ff;
}

.weatherIcon{
  width: 10%;
}
  