/* UNIVERSAL */
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

:root {
  /* COLORS */
  --primary: #010609;
  --secondary: #051f2f;
  --accent: #ff9100;
  --text: #ffffff;
  --indent: #ffffff10;
  --scroll-bar-track: #00000010;
  --scroll-bar-thumb: #00000030;
  --scroll-bar-thumb-hover: #0000009a;
  --active: #7fcbec;

  /* ATTRIBUTES */
  --rounded: 1rem;
  --pill: 99999px;
  /* TIMERS */
  --swift: 100ms;
  --standard: 500ms;
  --slow: 1000ms;
}

/* #region ANIMATIONS */

@keyframes Vortex {
  0% {
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
  }
  50% {
    background-size: 150%;
    background-position-x: center;
    background-position-y: center;
  }
  100% {
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
  }
}

@keyframes pulse {
  0% {
    color: #ffffffcf;
  }

  3% {
    color: #ffffff;
  }

  6% {
    color: #ffffffcf;
  }
}

@keyframes wave {
  
}
/* #endregion */

/* #region MODIFIER */
/* #region INVERT */
.invert {
  -webkit-filter: invert();
}
/* #endregion */

/* #region BLUR */
.blur {
  -webkit-filter: blur(0.3em);
  /* filter: blur(8px); */
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
/* #endregion */
/* #endregion */

/* UNCOMMENT TO REMOVE CURRENT EXAMPLES */
.example {
  /* display: none; */
}

/* #region FOUNDATION*/
* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-family: "Major Mono Display", monospace;
}

#wrapper {
  width: 100%;
}

body {
  position: relative;
  background-color: var(--primary);
  /* COLORS SCROLLBAR TOO */
  /* background-color: #ff0000; */
  width: 100%;
  color: var(--text);
}

main {
  width: 100%;
  height: 150%;
}
/* #endregion */

/* #region SCROLL BAR */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  /* -webkit-backdrop-filter: blur(1rem); */
  background: var(--scroll-bar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-thumb);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-thumb-hover);
}
/* #endregion */

/* #region HEADER */
/* #region HEADER & FOOTER*/
header,
footer {
  /* background-color: var(--secondary); */
  /* margin: 1em; */
  /* padding: 1em; */
}

footer {
  display: flex;
  position: relative;
  bottom: 0;
  justify-content: space-around;
  background-color: var(--secondary);
}
/* #endregion */

/* #region H* */
h1,
h2,
h3,
h4,
h5 {
  padding: 1em;
  text-align: center;
}
/* #endregion */

/* #region NAVIGATION */
nav {
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--secondary);
  padding: 1em;
  padding-right: 3rem;
  padding-left: 3rem;
  list-style: none;
}

nav a {
  transition: var(--swift);
  border-radius: var(--rounded);
  background-color: var(--indent);
  padding: 1em;
  color: var(--text);
  text-decoration: none;
}

nav a:hover {
  transition: var(--swift);
  color: var(--active);
  text-decoration: none;
}
/* #endregion */
/* #endregion */

/* #region MAIN*/
/* #region CONTAINER */
.container,
section {
  margin: 1rem;
  border-radius: var(--rounded);
  background-color: var(--secondary);
  padding: 1rem;
}
/* #endregion */

/* #region FIGURE */
figure {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: 1em;
}
/* #endregion */

/* #region IMAGE */

.hero {
  width: 100%;
  overflow: hidden;
}

.img-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-container * {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.banner {
  position: relative;
  justify-content: center;
  align-items: center;
  animation: vortex 10s infinite ease-in-out;
  width: 100%;
  height: 10em;
  overflow: hidden;
}

/* #endregion */

/* #region FIGURE W/ IMAGE */
main > figure {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1rem;
  height: auto;
}

main > figure .img-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: var(--rounded);
  width: auto;
  height: auto;
  overflow: hidden;
}

/* SCALE FIGCAPTION ACCORDING TO FIGURE */
main > figure figcaption {
  height: 100%;
}

main > figure article {
  display: flex;
  align-items: center;
  border-radius: var(--rounded);
  background-color: var(--secondary);
  padding: 0 1em 0 1em;
  height: 100%;
}

main > figure p {
  padding: 1em 0 1em 0;
}
/* #endregion */

/* #region CUSTOM */
h1 {
  -webkit-animation: Vortex 10s ease infinite;
  -moz-animation: Vortex 10s ease infinite;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: Vortex 60s ease infinite;
  background: radial-gradient(
    circle,
    #010609 50%,
    #051f2f 70%,
    #0d517b 90%,
    #7fcbec 100%
  );
  background-size: 150% 150%;
  color: var(--accent);
  font-size: 3rem;
  text-align: center;
}

p {
  animation: pulse 3s ease-in-out infinite;
}
/* #endregion */
